# User Testing Report

User testing was conducted by Mariam Abdulwahab on Thursday, October 24th, 2013 between the times of 4 and 5 with the following participants:

- {Sarah Voss}
- {Jenny Chew}
- {Winnie Lau}

## Tasks

1. {Ability to read through website}
2. {Navigate through website}
3. {Find lists of species}

---

## Individual Results & Observations

### {Sarah Voss}

- {She clicked on the link as expected}
- {She felt there was some awkward spacing}
- {She like the colours}



### {Jenny Chew}

- {She had some trouble with knowing what page she was on beacuse of the bakcground colour comapred to the background colour of the navigation}
- {She clicked on the navigation as expected}


### {Kyounghee Lee}

- {She clicked on the link as expected…}
- {The font needs to be bigger or fixed in a different way}
- {She asked these questions: why is there a box behind species}
- {Should fix spacing}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had problems with reading text in larger screen}


### Serious, Causes Frustration, May Hinder Completion

- {The Participants thought the logo should bring back to home}

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency: That the spacing in big screens between the naviagtion and logo is too big}
